html {
  height: 100%;
  font-size: 1rem;
}

body {
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
}

.card {
  margin-top: 1rem;
}

.card div.card-header {
  font-weight: bold;
}

[data-help] {
  cursor: pointer;
}

a[data-help] {
  color: black;
  text-decoration: none;
  /* Klickfläche vergrößern */
  padding-left: 20px;
}

a[data-help]:hover {
  text-decoration: none;
}

.card-header .fas {
  display: visible;
}

/* Klasse, damit der Body nicht angezeigt wird: */
.d-none {
  display: none;
}

/* Klasse, damit der Pfeil geändert wird: 
.card-toggle-icon {
  display: inherit;
}
*/